@{
    ViewBag.Title = "ORT - Chat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chat</h2>

@using (Html.BeginForm())
{
    <label>Name</label>
    <input type="text" id="name" /><label id="nameError" style="display: none; color: red;">Please enter your name</label>
    <label>Message</label>
    <input type="text" id="message" />
    <br />
    <input id="send" value="Send" type="button" />
    <input id="clear" value="Clear" type="button" />
    <ul id="messages"></ul>
    <ul id="isTyping" style="list-style: none;"></ul>
}

@section Scripts {
    <script src="~/Scripts/ChatR.js"></script>
}

